.container {
    border: 1px solid #DDDDDD;
    display: flex;
    background: red;
    width: 612px;
    height: 612px;
}

    .container canvas {
        display: block;
    }

.masked-img {
    overflow: hidden;
    margin-left: 10px;
    position: relative;
}
